@use './vars.scss' as *;

form {
    margin-top: .5rem;
    max-width: 400px;
    width: 65%;

    input, textarea,button {
        background-color: transparent;
        border: 1px solid white;
        border-radius: 4px;
        color: white;
        font-size: 1em;
        margin: .5rem 0;
        outline: none;
        padding: .5rem;
        width: 100%;

        &::-webkit-input-placeholder{
            color: lighten($bg-color, 20%);
        }
        &::-moz-placeholder {
            color: lighten($bg-color, 20%);
        }
        &::placeholder {
            color: lighten($bg-color, 20%);
        }
        &:focus:not(button) {
            box-shadow: 1.5px 1.5px 0 0 rgb(255, 255, 255);
        }
    }
   
    h2 {
        font-size: 1.2em;
        font-weight: 400;
    }
    textarea {
        height: 120px;
        resize: none;
    }
    p {
        color: white;
        opacity: 0;
    }
    button {
        color: white;
        font-size: 1.2em;
        font-weight: 300;
        padding: .15rem 1.6rem;
        text-align: center;
        transition: all 200ms ease;
        width: auto;

        &:hover {
            box-shadow:0 5px 6px 1px rgba(0,0,0,.4);
            cursor: pointer;
           transform: translateY(-2px);
        }
    }
}
.missing {
    border: 1px solid red !important;
    &:focus {
        box-shadow: 1.5px 1.5px 0 0 red;
    }
}
.show-text {
    opacity: 1 !important;
}